/*
    made by Eric Gassel & Sam Gloss
*/


body {
    font-family: Helvetica;
}


.page{
    width: 98vw;
    height: 100vh;
}

#header {
    display: flex;
    width: 100%;
    height: 10%;
}

#title{
    font-size:40px;
    font-weight:bold;
    align-self:baseline;
}

#header > a{
    flex-basis: 50%;
}

#search_bar {
    display: flex;
    vertical-align: right;
    justify-content: right;
    font-size: 21px;
    height: 40%;
    margin-left: 70%;
    
}

.horizontal-navbar {
    display: flex;
    justify-content: center;
    height: 6%;
    width: 85%;
    
}

.horz-button {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #DDDDDD;
    height: 100%;
    flex-basis: 33.33%;

}

.horz-button:hover {
    border-bottom: 2px solid red;
}

.horz-button:active{
    border-bottom: 4px solid red;
}


#content {
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
    float: right;
    width: 83%;
    height: 80%;
    justify-content: space-between;
}

.mini-header {
    height: 6%;
    width: 48%;
    background-color: lightblue;
    border-bottom: 2px solid silver;
}

.stat-content{
    width: 48%;
    height: 40%;
    background-color: yellow;
    
}


#team_scroll_bar {
    display:flex;
    flex-direction: column;
    width: 15%;
    float: left;
    height: 138%;
}

.team {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #DDDDDD;
    width: 100%;
    height: 2.9%;
}

.team:hover {
    background-color: darkgray;
}

.team:active{
    background-color:darkgray;
    color:white;
}

#content > games{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    font-size: 12px;
}

w{
    color:darkgreen;
}

date{
    color:darkgrey;
    font-size: 8px;
}












