<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
    <link rel="stylesheet" type="text/css" href="../static/webapp.css" />
    <script src="./static/webapp.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>NBA Stat Leaders</title>
</head>

<body>
    <div class = "page">
        <div id = "header">
            <img id="logo" src="./static/nbalogo.jpg" alt="NBA Logo"/>

            <a id="title">NBA Stat Leaders</b></a>

            <a>
                <form id = "search_bar">
                    <br> <input type="text" onkeyup="search_player()" name="player_name" placeholder="Search here...">
                </form>
            </a>
        
        </div>
        
   

        <div id = "team_scroll_bar">
        </div>

        <div class = "horizontal-navbar">
            
            <button id="players_button" class="horz-button">Players</button>
            <button id="teams_button" class="horz-button">Teams</button>
            <button id="games_button" class="horz-button">Games</button>
        
        </div>

        <div id = "content">
            
            <div class="mini-header">
                Points Per Game
            </div>
            <div class="mini-header">
                Assists Per Game
            </div>
            <div class="stat-content">
                <a id = "ppg-list">
                </a>
            </div>
            <div class="stat-content">
                <a id = "ast-list">
                </a>
            </div>
            <div class="mini-header">
                Rebounds Per Game
            </div>
            <div class="mini-header">
                Blocks Per Game
            </div>
            <div class="stat-content">
                <a id = "reb-list">
                </a>
            </div>
            <div class="stat-content">
                <a id = "blk-list">
                </a>
            </div>
            <div class="mini-header">
                Steals Per Game
            </div>
            <div class="mini-header">
                Turnovers Per Game
            </div>
            <div class="stat-content">
                <a id = "stl-list">
                </a>
            </div>
            <div class="stat-content">
                <a id = "tov-list">
                </a>
            </div>
        </div>
    </div>
</html>
