<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
    <link rel="stylesheet" type="text/css" href="../static/webapp.css" />
    <script src="./static/webapp.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>NBA Stat Leaders</title>
</head>

<body>
    <div class = "page">
        <div id = "header">
            <img id="logo" src="./static/nbalogo.jpg" alt="NBA Logo"/>

            <a id="title">NBA Stat Leaders</b></a>

            <a>
                <form id = "search_bar">
                    <br> <input type="text" onkeyup="search_player()" name="player_name" placeholder="Search here...">
                </form>
            </a>
        
        </div>
        
   

        <div id = "team_scroll_bar">
        </div>

        <div class = "horizontal-navbar">
            
            <button id="players_button" class="horz-button">Players</button>
            <button id="teams_button" class="horz-button">Teams</button>
            <button id="games_button" class="horz-button">Games</button>
        
        </div>

        <div id = "content">
            <select id="season">
                    <option value="2020_2021">2020-2021</option>
                    <option value="2019_2020">2019-2020</option>
                    <option value="2018_2019">2018-2019</option>
                    <option value="2017_2018">2017-2018</option>
                    <option value="2016_2017">2016-2017</option>
                    <option value="2015_2016">2015-2016</option>
                    <option value="2014_2015">2014-2015</option>
                    <option value="2013_2014">2013-2014</option>
                    <option value="2012_2013">2012-2013</option>
                    <option value="2011_2012">2011-2012</option>
                    <option value="2010_2011">2010-2011</option>
                    <option value="2009_2010">2009-2010</option>

            </select> 
            <button id= "submit_button" onClick="GetSelectedValue('season');">Submit Selected Season</button>
             

            
            <div class="mini-header">
                Points Per Game
            </div>
            <div class="mini-header">
                Assists Per Game
            </div>
            <div class="stat-content">
                <a id = "ppg-list">
                </a>
            </div>
            <div class="stat-content">
                <a id = "ast-list">
                </a>
            </div>
            <div class="mini-header">
                Rebounds Per Game
            </div>
            <div class="mini-header">
                Blocks Per Game
            </div>
            <div class="stat-content">
                <a id = "reb-list">
                </a>
            </div>
            <div class="stat-content">
                <a id = "blk-list">
                </a>
            </div>
            <div class="mini-header">
                Steals Per Game
            </div>
            <div class="mini-header">
                Turnovers Per Game
            </div>
            <div class="stat-content">
                <a id = "stl-list">
                </a>
            </div>
            <div class="stat-content">
                <a id = "tov-list">
                </a>
            </div>
        </div>
    </div>
</html>
