<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
    <link rel="stylesheet" type="text/css" href="../static/webapp.css" />
    <script src="../static/webapp.js"></script>
    <title>NBA Stat Leaders</title>
</head>

<body>
    <div class = "page">
        <div id = "header">
            <h3>NBA Stat Leaders</h3>
        </div>

        <div id = "team_scroll_bar">
            <ul id = "vertical-navbar">
            </ul>
        </div>

        <div id = "horizontal-navbar">
            <ul id = "horizontal-navbar2">
                <li><button id="players_button">PLAYERS</button></li>
                <li><button id="teams_button">TEAMS</button></li>
                <li><button id="games_button">GAMES</button></li>
            </ul>
        </div>

        <div id = "content">
            <div id = "mini-header-left">
                <h4>Points Per Game</h4>
            </div>
            <div id = "mini-header-right">
                <h4>Assits Per Game</h4>
            </div>
            <div id = "ppg-content">
                <ul id = "ppg-list">
                </ul>
            </div>
            <div id = "ast-content">
                <ul id = "ast-list">
                </ul>
            </div>
            <div id = "mini-header-left">
                <h4>Rebounds Per Game</h4>
            </div>
            <div id = "mini-header-right">
                <h4>Blocks Per Game</h4>
            </div>
            <div id = "reb-content">
                <p>hi</p>
            </div>
            <div id = "blk-content">
                <p>hi</p>
            </div>
            <div id = "mini-header-left">
                <h4>Steals Per Game</h4>
            </div>
            <div id = "mini-header-right">
                <h4>Field Goal Percentage</h4>
            </div>
            <div id = "stl-content">
                <p>hi</p>
            </div>
            <div id = "fgpct-content">
                <p>hi</p>
            </div>
        </div>
    </div>
</html>
