<!Made By Eric Gassel & Sam Gloss>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href='../static/webapp.css' />
    <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>TEAM STATISTICAL LEADERS</title>
</head>

<body>
    <p> Click <a href="index.html">here</a> to go home.</p>
    <h3>NBA TEAM STATISTICAL LEADERS</h3>
    <ul id = 'ppg_list'> </ul>
    <ul id = 'papg_list'></ul> 
</body>
</html>
